/*●新手杀*/
.wmmh-skill-common-jinengming {
	display: block;
	position: fixed;
	left: 55%;
	top: 50%;
	/*color: rgb(190, 56, 134);*/
	font-size: 82px;
	font-family: xingkai;
	font-weight: 300;
	text-shadow: none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: drop-shadow(1px 1px 1px black) drop-shadow(1px 1px 2px black) drop-shadow(1px 1px 3px black) drop-shadow(1px 1px 4px black) drop-shadow(1px 1px 5px black);
	transform: translate(calc(-50% + 40px), calc(-50% + 24px));
	white-space: break-spaces;
	visibility: hidden;
	z-index: 888 !important;
	animation: avatarming 2.3s linear;
	animation-delay: 0.6s;
	-webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.7);
	animation-fill-mode: forwards;
}

/* 觉醒技 */
/*限定武将图*/
.juexingwujiangtu {
	background-size: cover;
	background-position-x: 50%;
	width: 150px;
	height: 246px;
	/* 275px */
	/* rotate: -10.2deg; */
	border-radius: 8px;
	z-index: 998 !important;
	visibility: hidden;
	animation: avatartu 2.9s linear;
	animation-fill-mode: forwards;
}
.juexingwujiangtu2 {
	/* top: calc(50% - 118px - 5px);
	left: calc(50% - 46px - 125px); */
	/* height: 280px; */
	animation: avatartu2 2.8s linear;
	animation-fill-mode: forwards;
}
/* 手杀露头觉醒技 */
.juexingwujiangtu-shousha {
	height: 292px;
	-webkit-clip-path: url(#solo-clip);
	animation: avatartu3 2.8s linear;
	animation-fill-mode: forwards;
}
/* 手杀露头限定使命技 */
.xiandingshimingji-shousha {
	height: 282px;
	-webkit-clip-path: url(#solo-clip);
	animation: avatartu4 2.9s linear;
	animation-fill-mode: forwards;
}

.juexingwujiangtu-shizhounian {
	height: 276px;
	-webkit-clip-path: url(#solo-clip);
	animation: avatartu5 2.8s linear;
	animation-fill-mode: forwards;
}
.xiandingshimingji-shizhounian {
	height: 266px;
	-webkit-clip-path: url(#solo-clip);
	animation: avatartu6 2.9s linear;
	animation-fill-mode: forwards;
}
@keyframes avatartu {
	0% {
		visibility: visible;
		scale: 1;
		rotate: 0deg;
	}
	5% {
		top: calc(50% - 118px);
		left: calc(50% - 46px);
		rotate: 0deg;
		scale: 1;
	}
	25% {
		top: calc(50% - 118px);
		left: calc(50% - 46px);
		scale: 2;
		rotate: 0deg;
	}
	40% {
		top: calc(50% - 118px - 15px);
		/* 40 156 */
		left: calc(50% - 46px - 126px);
		scale: 1;
		rotate: -10.2deg;
	}
	/* 153 32 */
	100% {
		top: calc(50% - 118px - 15px);
		left: calc(50% - 46px - 126px);
		rotate: -10.2deg;
		scale: 1;
	}
}
@keyframes avatartu2 {
	0% {
		visibility: visible;
		scale: 1;
		rotate: 0deg;
	}
	5% {
		top: calc(50% - 118px);
		left: calc(50% - 46px);
		scale: 1;
		rotate: 0deg;
	}
	25% {
		top: calc(50% - 118px);
		left: calc(50% - 46px);
		scale: 2;
		rotate: 0deg;
		/* translate: calc(-50% - 154px) calc(-50% + -8px); */
	}
	40% {
		top: calc(50% - 118px - 5px);
		left: calc(50% - 46px - 122px);
		scale: 1;
		rotate: -10.5deg;
	}
	100% {
		top: calc(50% - 118px - 5px);
		left: calc(50% - 46px - 122px);
		rotate: -10.5deg;
		scale: 1;
	}
}
@keyframes avatartu3 {
	0% {
		visibility: visible;
		scale: 1;
		rotate: 0deg;
	}
	5% {
		top: calc(50% - 118px);
		left: calc(50% - 46px);
		scale: 1;
		rotate: 0deg;
	}
	25% {
		top: calc(50% - 118px);
		left: calc(50% - 46px);
		scale: 2;
		rotate: 0deg;
		/* translate: calc(-50% - 154px) calc(-50% + -8px); */
	}
	40% {
		top: calc(50% - 118px - 39px);
		left: calc(50% - 46px - 126px);
		scale: 1;
		rotate: -10.5deg;
	}
	100% {
		top: calc(50% - 118px - 39px);
		left: calc(50% - 46px - 126px);
		rotate: -10.5deg;
		scale: 1;
	}
}
@keyframes avatartu4 {
	0% {
		visibility: visible;
		scale: 1;
		rotate: 0deg;
	}
	5% {
		top: calc(50% - 118px);
		left: calc(50% - 46px);
		scale: 1;
		rotate: 0deg;
	}
	25% {
		top: calc(50% - 118px);
		left: calc(50% - 46px);
		scale: 2;
		rotate: 0deg;
		/* translate: calc(-50% - 154px) calc(-50% + -8px); */
	}
	40% {
		top: calc(50% - 118px - 41px);
		left: calc(50% - 46px - 127px);
		scale: 1;
		rotate: -10.5deg;
	}
	100% {
		top: calc(50% - 118px - 41px);
		left: calc(50% - 46px - 127px);
		rotate: -10.5deg;
		scale: 1;
	}
}

@keyframes avatartu5 {
	0% {
		visibility: visible;
		scale: 1;
		rotate: 0deg;
	}
	5% {
		top: calc(50% - 118px);
		left: calc(50% - 46px);
		scale: 1;
		rotate: 0deg;
	}
	25% {
		top: calc(50% - 118px);
		left: calc(50% - 46px);
		scale: 2;
		rotate: 0deg;
		/* translate: calc(-50% - 154px) calc(-50% + -8px); */
	}
	40% {
		top: calc(50% - 118px - 23px);
		left: calc(50% - 46px - 125px);
		scale: 1;
		rotate: -10.5deg;
	}
	100% {
		top: calc(50% - 118px - 23px);
		left: calc(50% - 46px - 125px);
		rotate: -10.5deg;
		scale: 1;
	}
}
@keyframes avatartu6 {
	0% {
		visibility: visible;
		scale: 1;
		rotate: 0deg;
	}
	5% {
		top: calc(50% - 118px);
		left: calc(50% - 46px);
		scale: 1;
		rotate: 0deg;
	}
	25% {
		top: calc(50% - 118px);
		left: calc(50% - 46px);
		scale: 2;
		rotate: 0deg;
		/* translate: calc(-50% - 154px) calc(-50% + -8px); */
	}
	40% {
		top: calc(50% - 118px - 25px);
		left: calc(50% - 46px - 127px);
		scale: 1;
		rotate: -10.5deg;
	}
	100% {
		top: calc(50% - 118px - 25px);
		left: calc(50% - 46px - 127px);
		rotate: -10.5deg;
		scale: 1;
	}
}
.wmmh-skill-common-jinengming2 {
	animation: avatarming 2.3s linear;
	animation-delay: 0.6s;
	transform: translate(calc(-50% + 40px), calc(-50% + 44px));
}

@keyframes avatarming {
	0% {
		visibility: visible;
		translate: scale(0);
		opacity: 0;
	}
	20% {
		translate: scale(0);
		opacity: 0;
	}
	35% {
		translate: scale(1);
		opacity: 1;
	}
	100% {
		translate: scale(1);
		opacity: 1;
	}
}
/*觉醒技能名*/
.juexingjinengming {
	background-image: linear-gradient(180deg, #f1e7f9 30%, #7251ac 68%, #73add1 85%);
}
/* 限定技 */
.xiandingwujiangtu {
	background-image: linear-gradient(180deg, #fcfc70 30%, #ad6e22 68%, #f5f1ce 91%);
}

/* 使命技 */
.shimingwujiangtu {
	background-image: linear-gradient(180deg, #ffff9a 19%, #d9532e 73%, #f5f1ce 96%);
}